NODE_ENV=test
DATABASE_URL_TEST=
JWT_SECRET_TEST=change-me-test-secret
JWT_EXPIRES_IN=1h
FRONTEND_URL=http://localhost:3000
CLIENT_RESET_PASSWORD_PATH=/auth/reset-password
ADMIN_RESET_PASSWORD_PATH=/admin/reset-password
PAYMENT_COMMISSION_RATE=0.04
